/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #30195b, #150731, #080b44);
}

/* App title */
.app {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #e50914;
  font-weight: 700;
  letter-spacing: 1.5px;
}

/* Search bar */
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.search input {
  width: 330px;
  padding: 12px;
  background: white;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.search button {
  padding: 12px 20px;
  background: #e50914;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Movie Grid */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 25px;
  padding: 20px;
}

/* Movie Card */
.movie-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

/* Poster */
.movie-img img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* Info */
.movie-info {
  padding: 12px;
  text-align: left;
}

.movie-info h3 {
  font-size: 1rem;
  margin: 0 0 4px;
}

.year {
  font-size: 0.85rem;
  color: #777;
}




/* IMDb Button */
.imdb-btn {
  width: 100%;
  margin-top: 10px;
  padding: 9px;
  background: #f5c518;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-weight: 600;
}
